@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.page {
    max-width: 1680px;
    color: #fff;
    background: #000;
    display: flex;
    margin: 0 auto;
}

.page_first {
    margin: 5.5rem 3rem 7.8rem 6rem;
}
.page_second {
    margin: 6rem 0 7.3rem 0;
}
.page_third {
    margin: 3rem 6rem 0 3rem;
}
.page-container {
    flex-basis: 33.333%;
}
.person-name {
    font-weight: 600;
    font-size: 4.6rem;
    line-height: 4.6rem;
}
.person-name_position {
    margin: 0 0 65px 0;
}
.info_position {
    margin: 0 0 45px 0;
}
.info__row {
    display: flex;
    margin: 0 0 28px 0;
}
.item-about {
    min-width: 50%;
}
.subtitle {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.6;
}
.item-about__description {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
}
.title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5rem;
    opacity: 0.9;

}
.title_position {
    margin: 0 0 15px 0;
}
.bar {
    height: 7px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.bar__item {
    height: 7px;
    background: #FFFFFF;
    border-radius: 10px;
}
.bar__item_50 {
    max-width: 50%;
}
.bar__item_25 {
    max-width: 25%;
}
.tech-item__bar {
    margin: 0 0 17px 0;
}
.text {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.8;
    margin: 0 0 50px 0;
}
.text_position-small {
    margin: 0 0 15px 0;
}
.text_point {
    position: relative;
    padding-left: .9rem;
}
.text_point::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
}

.avatar {
    position: relative;
    min-height: 750px;
    display: flex;
    flex-direction: column-reverse;
}
.avatar__img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
}
.quote {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2rem;
}
.quote_position {
    z-index: 1;
    padding: 0 3rem 5rem 3rem;
}
.quote::after {
    content: close-quote;
}
.quote::before{
    content: open-quote;
    position: absolute;
    left: 2.1rem;
}

@media (max-width: 1200px) {
    .page {
        max-width: 970px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "info info avatar"
                            "text text text";
    }
    .page_first {
        margin: 3rem 3rem 2rem 3rem;
    }
    .page_second {
        grid-area: text;
        margin: 0 3rem 2rem 3rem;
    }
    .page_third {
        grid-area: avatar;
        margin: 3rem 3rem 2rem 3rem;
    }
    .avatar {
        min-height: 650px;
    }
    .quote_position {
        padding: 0 2rem 5rem 2rem;
    }
    .quote::before{
        left: 1rem;
    }

}
@media (max-width: 992px) {
    .page {
        max-width: 750px;
        grid-template-columns: 1fr;
        grid-template-areas: "info"
                            "text"
                            "avatar";
    }
    .page_first {
        margin: 3rem 3rem 2rem 3rem;
    }
    .page_second {
        grid-area: text;
        margin: 3rem 3rem 0 3rem;
    }
    .page_third {
        grid-area: avatar;
        margin: 3rem 3rem 5rem 3rem;
    }
    .avatar {
        min-height: 750px;
    }
    .avatar__img {
        left: 50%;
        transform: translateX(-50%);
    }
    .quote_position {
        padding: 0 10rem 5rem 10rem;
    }
    .quote::before{
        left: 9rem;
    }


}
@media (max-width: 767px) {
    .page {
        max-width: none;
    }

    .page_first {
        margin: 2rem 1rem 1rem 2rem;
    }

    .avatar {
        min-height: 750px;
    }
    .avatar__img {
        left: 50%;
        transform: translateX(-50%);
    }
    .quote_position {
        padding: 0 3rem 10rem 3rem;
    }
    .quote::before{
        left: 2rem;
    }

}
@media (max-width: 520px) {
    :root {
        font-size: 10px;
    }
    .avatar {
        min-height: 550px;
    }
}