@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
body {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 945px;
}

.page {
    max-width: 1680px;
    color: #fff;
    background: #000;
    display: flex;
}

.page_first {
    margin: 90px 51px 125px 100px;
}
.page_second {
    margin: 97px 0 118px 0;
}
.page_third {
    margin: 50px 100px 50px 50px;
}
.page-container {
    flex-basis: 33.333%;
}
.person-name {
    font-weight: 600;
    font-size: 4.6rem;
    line-height: 4.6rem;
}
.person-name_position {
    margin: 0 0 65px 0;
}
.info_position {
    margin: 0 0 45px 0;
}
.info__row {
    display: flex;
    margin: 0 0 28px 0;
}
.item-about {
    width: 50%;
}
.subtitle {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.6;
}
.item-about__description {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
}
.title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5rem;
    opacity: 0.9;
    margin-bottom: 15px;
}

.bar {
    height: 7px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-bottom: 17px;
}
.bar__item {
    height: 7px;
    background: #FFFFFF;
    border-radius: 10px;
}

.text {
    font-weight: 500;
    font-size: .9rem;
    line-height: 1.5rem;
    opacity: 0.8;
    margin: 0 0 50px 0;
}
.text_position-small {
    margin: 0 0 15px 0;
}
.text_point {
    position: relative;
    padding-left: 13px;
}
.text_point::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #C4C4C4;
}

.avatar {
    min-height: 750px;
    display: flex;
    flex-direction: column-reverse;
    background: no-repeat center/100% url("../img/avatar.png");
}
/*.avatar__img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
}*/
.quote {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2rem;
}
.quote_position {
    position: relative;
    padding: 0 50px 83px 50px;
}
.quote::after {
    content: close-quote;
}
.quote::before{
    content: open-quote;
    position: absolute;
    left: 35px;
}

@media (max-width: 1200px) {
    .page {
        max-width: 1024px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "info info avatar"
                            "text text text";
    }
    .page_first {
        margin: 50px 50px 30px 50px;
    }
    .page_second {
        grid-area: text;
        margin: 0 50px 30px 50px;
    }
    .page_third {
        grid-area: avatar;
        margin: 10px 50px 30px 50px;
    }
    .quote_position {
        padding: 0 35px 80px 35px;
    }
    .quote::before{
        left: 15px;
    }

}
@media (max-width: 992px) {
    .page {
        max-width: 768px;
        grid-template-columns: 1fr;
        grid-template-areas: "info"
                            "text"
                            "avatar";
    }
    .page_first {
        margin: 50px 50px 30px 50px;
    }
    .page_second {
        grid-area: text;
        margin: 50px 50px 0 50px;
    }
    .page_third {
        grid-area: avatar;
        margin: 50px 50px 80px 50px;
    }
    .quote_position {
        padding: 0 80px 80px 80px;
    }
    .quote::before{
        left: 60px;
    }


}
@media (max-width: 767px) {
    .page {
        max-width: none;
    }
    .page_first {
        margin: 30px 16px 16px 30px;
    }
    .quote_position {
        padding: 0 50px 80px 50px;
    }
    .quote::before{
        left: 35px;
    }

}
@media (max-width: 520px) {
    :root {
        font-size: 10px;
    }
    .avatar {
        min-height: 550px;
    }
    .quote_position {
        padding: 0 40px 100px 45px;
    }
}